// @import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,400&display=swap');


body {
	--background: #000;
	--foreground: #28282888;
	// --foreground-opaque: #1a1a1a;
	--foreground-border: #fff4;
	--foreground-hover: #fff4;
	--foreground-border-hover: #fff6;
	--foreground-pressed: #fff3;
	--foreground-border-pressed: #fff5;
	--text: #FFF;
	--accent: hsl(138, 93%, 51%);
	// --accent-foreground-pressed: hsl(138, 93%, 10%);
	--accent-foreground-pressed: hsla(138, 93%, 51%, 20%);
	--accent-foreground-hover: #1118;
	--accent-text: #000;
	--alert: hsl(0, 100%, 50%);
	--alert-foreground-pressed: hsl(0, 100%, 10%);
	--alert-foreground-hover: #1118;
	--alert-text: #000;
	--warning: hsl(45deg, 100%, 50%);
	--ready: hsl(120deg, 100%, 50%);
	--acrylic-backdrop: blur(16px) saturate(180%) brightness(60%);
	--spacing: 12px;
	--inner-radius: 8px;
	--outer-radius: calc(var(--inner-radius) + var(--spacing));
}

body.color-light {
	--background: #fff;
	--foreground: #ccc8;
	// --foreground-opaque: #1a1a1a;
	--foreground-border: #0004;
	--foreground-hover: #0004;
	--foreground-border-hover: #0006;
	--foreground-pressed: #0003;
	--foreground-border-pressed: #0005;
	--text: #000;
	--accent: hsl(138, 81%, 51%);
	// --accent-foreground-pressed: hsl(138, 93%, 10%);
	--accent-foreground-pressed: hsla(138, 93%, 51%, 20%);
	--accent-foreground-hover: #1118;
	--accent-text: #000;
	--alert: hsl(0, 100%, 50%);
	--alert-foreground-pressed: hsl(0, 100%, 10%);
	--alert-foreground-hover: #1118;
	--alert-text: #000;
	--warning: hsl(45deg, 100%, 50%);
	--ready: hsl(120deg, 100%, 50%);
	--acrylic-backdrop: blur(16px) saturate(180%) brightness(60%);
	--spacing: 12px;
	--inner-radius: 8px;
	--outer-radius: calc(var(--inner-radius) + var(--spacing));
}

// @supports (backdrop-filter: blur(16px) saturate(180%)) {
// 	body {
		
// 	}
// }

:root {
	color-scheme: dark;
}

body{
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: var(--background);
	-webkit-tap-highlight-color: transparent;
}
body, input, button, textarea, select, a {
	font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--text);
}

::selection {
	background: var(--accent);
	color: var(--accent-text);
}

button{
	background: var(--foreground);
}

code, pre {
	font-family: "JetBrains Mono", monospace;
	background-color: var(--foreground);
	padding: 1px 4px 1px 4px;
	border-radius: 4px;
	font-size: 0.85em;
}

.title {
	font-size: 48px
}

.horizPanel{
	display: flex;
	align-items: center;
	gap: var(--spacing);
}
.thinHorizPanel{
	display: flex;
	align-items: center;
}
.vertiPanel{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing);
	> * {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.thinVertiPanel {
	display: flex;
	flex-direction: column;
}

// .material-icons-round {
// 	font-display: block;
// }