.card {
	background-color: var(--foreground);
	border: solid 2px var(--foreground);
	padding: var(--spacing);
	border-radius: var(--outer-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--spacing);
	// min-height: 200px;
	// > * {
	// 	display: flex;
	// 	flex-direction: column;
	// 	gap: calc(var(--spacing) * 0.5);
	// 	> * {
	// 		margin: 0;
	// 	}
	// }
	> *:nth-child(1) {
		align-self: flex-start;
	}
	> *:nth-child(2) {
		align-self: flex-end;
	}
}